<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title></title>
<!--  <link href="css/styles.css" rel="stylesheet" />-->
</head>
<body id="page-top">
<div class="form">

        <form action="/users" method="post">
          <input  required type="name" name="position" placeholder="Enter your position"/>
<!--          <input  required type="" name="" placeholder="Enter a password"/>-->
          <input type="submit" value="Send to DB"/>
          <!-- <button type="submit">Send</button> -->
        </form>
</div>
</body>
</html>
